@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    background-image: url('./wallpaperflare.com_wallpaper3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 90vh;
}   
header h1{
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav button{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    background: none;
    border: none;
    color: white;
    height: min-content;
    cursor: pointer;
    transition: padding 0.15s ease-in-out;
}

nav button:hover:not(.selected){
    padding-bottom: 17px;
}

nav button.selected{
    border-bottom: 2px solid white;
}

.home{
    margin-top: 13%;
}

.headline{
    font-family: sans-serif;
}

.description p{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    max-width: 65ch;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}


